.profile {
  border: 2px dotted grey;
  width: fit-content;
  margin: 10px 40px;
  padding: 15px 20px;
}

.description {
  text-align: center;
  justify-content: center;
}

.avatar {
  width: 200px;
  height: 200px;
}

.name {
  color: brown;
  font-weight: 900;
}

.tag {
  font-style: italic;
  color: darkgrey;
}

.location {
  color: darkgrey;
}

.stats {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: center;
}

.label {
  background-color: rgba(205, 92, 92, 0.212);
  border-radius: 25%;
  border: 1px solid brown;
  color: rgb(129, 127, 127);
  margin: 0 5px;
}

.quantity {
  font-weight: 600;
  font-size: smaller;
}
